<footer>
  <img class="img-footer" src="/images/footer.png" alt="">
  <div class="footer">
    <div class="secciones-footer ">
      <a href="#">Inicio</a>
      <a href="#">Novedades</a>
      <a href="#">Nosotros</a>
      <a href="#">Armá tu pecera</a>
      <a href="#">Tienda</a>
    </div>
    <div>
      <div class="redes-footer">
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-telegram-plane"></i></a>
        <a href="#"><i class="far fa-envelope"></i></a>
      </div>
    </div>
    <div class="copyright">
      © 2021 <a href="#">Webtusite</a>, Arg.
    </div>
  </div>
</footer>
