<header>
  <!-- <p class="datosExtras">Horario de atención todos los dias de <span>10:00 a 18:00</span></p> -->
      <nav>
         <div class="logo">
            <a href="#">Doctor Pez</a>
         </div>
         <label for="btn" class="icon">
         <span class="fa fa-bars"></span>
         </label>
         <input type="checkbox" id="btn">
         <ul>
            <li><a href="#">Inicio</a></li>
            <li>
               <label for="btn-1" class="show">Noticias +</label>
               <a href="#">Noticias</a>
               <input type="checkbox" id="btn-1">
               <ul>
                  <li><a href="#">Ofertas</a></li>
                  <li><a href="#">Nuevos Articulos</a></li>
                  <li><a href="#">Destacados</a></li>
               </ul>
            </li>
            <li>
               <label for="btn-2" class="show">Servicio +</label>
               <a href="#">Servicio</a>
               <input type="checkbox" id="btn-2">
               <ul>
                  <li><a href="#">Mantenimiento</a></li>
                  <li><a href="#">Asesoramiento</a></li>
                  <li>
                     <label for="btn-3" class="show">Más +</label>
                     <a href="#">Más <span class="fa fa-plus"></span></a>
                     <input type="checkbox" id="btn-3">
                     <ul>
                        <li><a href="#">Submenu-1</a></li>
                        <li><a href="#">Submenu-2</a></li>
                        <li><a href="#">Submenu-3</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">TIENDA</a></li>
         </ul>
      </nav>
</header>