<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs")  %> 
<body>
  <div class="general-container">
    <%- include("partials/header.ejs")  %> 

    <div class="container-fluid container-armaTuPecera">
    <!-- INICIO -->
			<div>
				<h1>!Hacer un acuario es facil!, Si sabes como</h1>
				<h3>Te ayudamos a crear verdaderos paisajes subacuáticos en casa</h3>
				<p>Tener un acuario de agua dulce es una maravillosa forma de traer la naturaleza a tu hogar. Instalar un
					acuario es más fácil de lo que parece a simple vista. La gran cantidad de aparatos y accesorios en los
					estantes de las tiendas de mascotas es intimidante, pero realmente lo único que necesitas son los conceptos
					básicos para empezar. Verás a tus peces nadando felices en su nuevo acuario en muy poco tiempo.</p>
			</div>
			<!-- INICIO -->
      <!-- PECERA -->
			<div id="pecera" class="pecera">
				<div class="principal">
						<img src="img/portada peces.png" alt="">
						<h1>Lo primero que hay que elegir es la pecera</h1>
					<p>
						La pecera que elijas debe ser lo suficientemente grande para albergar el agua para el tipo y número de peces
						que tienes pensado tener. Así evitarás una posible sobrepoblación, dándoles así a los peces una vida más
						larga, además evitarás los malos olores y la suciedad en el agua. Entre más grande sea el pez, más
						desperdicios producirá y se necesitará más agua. Ten en cuenta que las plantas y otro tipo de decoraciones
						también ocupan espacio.
					</p>
					<ul>
						<li> Dr.Pez te ayudará a decidir qué peces serán seguros según el tamaño de la pecera, su compatibilidad y
							necesidades.</li>
						<li> Una pecera de 200 litros es un tamaño estándar que te permite tener una gran variedad de peces. Como
							principiante, te recomendamos que el tanque no tenga más de ese tamaño.</li>
						<li> También podrás utilizar una pecera de 75 litros a 94 litros para empezar y mantener unos pocos peces
							resistentes (poécilos, guppys, platys, tetras)</li>
						<li> Independientemente de tu decisión, asegúrate de que la pecera tenga capacidad al menos para 37 litros,
							lo
							que significa que no debes utilizar acuarios de “escritorio” o acuarios individuales para peces beta. No
							son
							lo suficientemente grandes para albergar peces. Aunque suene tentador comprar un tanque pequeño, al final,
							en este tipo de tanques resultará más difícil mantener la buena calidad del agua.</li>
					</ul>
				</div>

				<div class="contenidos">
					<h3>Contenidos</h3>
					<div class="cont">
						<ul>
							<li><a href="#peceras">Peceras y Urnas</a></li>
							<li><a href="#tipos">Tipos de peceras</a>
								<ul>
									<li><a href="#forma"> Según la Forma</a></li>
									<li><a href="#tamaño"> Según el tamaño</a></li>
									<li><a href="#materiales"> Según los materiales</a></li>
								</ul>
							</li>
							<li><a href="#muebles"> Muebles para acuario</a></li>
						</ul>
					</div>
				</div>

				<div>
					<h2 class="titulo">Peceras y Urnas</h2>
					<p>La pecera es el elemento básico de la acuariofilia.</p>
					<p>Es el recipiente que contendrá el agua, las rocas, troncos, plantas, sustrato, peces, etc. Y debe ser una
						estructura resistente y preparada para soportar la elevada presión del agua.</p>
					<p><span>No escatimes</span> a la hora de comprar una pecera, porque <span>puede salirte realmente
							caro</span>.
						Las peceras generalmente están formada por 5 paredes de <span>vidrio o metacrilato</span>. También las
						hay de <span>plástico</span>, pero amarillean con el tiempo y se rayan muy fácilmente, por lo que no son
						recomendables.
						Para unir los cristales, suele utilizarse <span>silicona sin aditivos</span> .En principio casi
						cualquier pecera de vidrio comercial podrá servirte, ya que cumplen muy bien con estos requisitos.
						Si te la vas a fabricar tú hay muchas más consideraciones a tener en cuenta, que trataremos en distintos
						post.</p>
					<p><span>¿Cuál es la diferencia entre pecera y acuario?</span></p>
					<p>Técnicamente, la pecera es sólo una urna de cristal en la que metemos agua y peces (típica bola de vidrio
						con un pez de colores), sin ningún tipo de tecnología.</p>
					<p>Los acuarios, por su parte, incluyen todo lo necesario para montar un <span>ecosistema vivo y
							dinámico</span> (filtro, calentador, pantalla de iluminación, sistemas de CO2, etc.), y requieren un
						conocimiento mayor por parte del acuarista.
						Pero en la práctica es muy común utilizar ambos términos como sinónimos. En este blog, digamos "pecera"
						o "acuario", nos estamos refiriendo al ecosistema vivo soportado por la tecnología básica.</p>
				</div>
				<div id="tipos" class="pecerass">
					<h2 class="titulo">Tipos de peceras</h2>
					<h3 id="forma" class="subtitulo">Según la forma</h3>
					<p>La forma más típica de pecera es la rectangular/cuadrada. Por varias razones: (1) es más fácil calcular
						su volumen real, (2) son más fáciles de plantar y decorar con rocas y troncos, (3) tienen el espacio
						optimizado y se aprovecha totalmente.</p>
					<p>Pero también existen peceras con formas diversas:</p>
					<p><span>Triangulares:</span> Para colocar en una esquina. No permite mucha libertad a la hora de configurar
						la decoración natural del acuario. Te tocará crear un diseño en forma de triángulo.</p>
					<p><span>Panorámicas:</span> Rectangulares con el cristal delantero curvado. Deforman un poco la imagen del
						interior de la pecera. Personalmente las prefiero totalmente rectangulares.</p>
					<p><span>Esféricas:</span> Las típicas bolas de cristal. Son muy poco prácticas, no se aprovecha bien el
						espacio y se pierden muchos litros. Necesitarías una esfera gigantesca para tener un acuario decente con
						esta forma, así que olvídate de meter peces que se hagan grandes. Además, la pecera esférica a penas
						tiene superficie de intercambio de oxígeno entre el agua y el aire, por lo que se crean fácilmente
						condiciones de baja oxigenación muy precarias para peces y plantas. Los peces solo pueden nadar en
						círculos pequeños. No compres una pecera esférica si vas a dedicarte a este hobby en serio.</p>
					<p><span>Cilíndricas:</span> Depende de gustos, quizá a ti te atraiga una pecera con esta forma. Se
						aprovecha menos el espacio que en una rectangular, y los peces solo pueden nadar en círculos arriba y
						abajo (a no ser que sea un cilindro MUY grande). Tampoco la usaría para peces... quizá para gambas e
						invertebrados</p>
					<p><span>Semi-cilíndricas:</span> Tienen forma de medio cilindro. Más de lo mismo, se deforma la imagen del
						interior, se aprovecha menos el espacio y los peces no tienen tanto espacio para nadar a lo largo. Pero
						no son tan malas como las esféricas.</p>
					<p>Recomiendo una pecera rectangular o cuadrada. En este artículo puedes ver cómo calcular los litros de una
						pecera según su forma.</p>
					<div class="wave" style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500 150"
							preserveAspectRatio="none" style="height: 100%; width: 100%;">
							<path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
								style="stroke: none; fill:#fff;"></path>
						</svg>
					</div>
				</div>
				<div class="peceras">
					<h3 id="tamaño" class="subtitulo">Según el tamaño</h3>
					<img src="img/temas generales.png" alt="">
					<div class="wave" style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500 150"
							preserveAspectRatio="none" style="height: 100%; width: 100%;">
							<path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
								style="stroke: none; fill:#b3cbe7;"></path>
						</svg>
					</div>
				</div>
				<div class="peceras">
					<h3 id="materiales" class="subtitulo">Según los materiales</h3>
					<p><span>Peceras de vidrio.</span> Recomendable, son resistentes a la presión y no se rayan tan fácilmente
						(aunque se pueden rayar). Los cristales serán de mayor o menor grosor dependiendo de la cantidad de agua
						(la presión) que deben soportar.</p>
					<p><span>Peceras de vidrio óptico.</span> Son un poco más caras que las de vidrio normal, pero su calidad es
						mayor. Te permiten ver los colores del acuario con total claridad y sin modificaciones. Quién prueba
						peceras de vidrio óptico no vuelve a las normales.</p>
					<p><span>Peceras de metacrilato.</span> En principio son más resistentes a golpes que las de vidrio, y es
						más fácil moldearlas para conseguir formas diferentes a la rectangular. Es un material más ligero, las
						paredes del acuario pueden ser más finas que con el vidrio. La gran desventaja es que se raya con mucha
						facilidad, y al cabo del tiempo perderá su transparencia hasta adquirir una tonalidad traslúcida que se
						cargará totalmente la estética del acuario. No es recomendable si esperas montar un buen acuario a largo
						plazo.</p>
					<p><span>Peceras de plástico.</span> Como el metacrilato, se raya y pierde transparencia. No es capaz de
						soportar grandes presiones. Podría valer para un nano acuario o para acuarios de cría o enfermerías. Tu
						acuario principal, mejor que no sea de plástico.</p>
					<p><span>Con armazón metálico.</span> Los acuarios de más de 1 metro de largo necesitan estar reforzados con
						un marco metálico que soporte sus bordes, además de la silicona.</p>
					<p><span>Sin armazón metálico (siliconas).</span> Acuarios de menos de 1 metro de largo pueden estar
						soportados sólo por la silicona entre cristales. Es mucho más estético.</p>
					<div class="wave" style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500 150"
							preserveAspectRatio="none" style="height: 100%; width: 100%;">
							<path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
								style="stroke: none; fill:#fff;"></path>
						</svg>
					</div>
				</div>
				<div id="muebles" class="peceras">
					<h2 class="subtitulo">Muebles para acuario</h2>
					<p>Como bien explicamos en esta guía para montar un acuario plantado, hay que ponerle mucha atención al
						mueble que vamos a utilizar para soportar la pecera.</p>
					<p>En <span>peceras pequeñas</span> no hay mucho problema, y seguramente puedas utilizar cualquier mueble
						que tengas en casa. Eso sí, tiene que ser <span>robusto</span> y tiene que estar <span>nivelado.</span>
					</p>
					<p>Como regla de oro: <span>NUNCA coloques el acuario en una estantería.</span> Por muy pequeña que sea la
						pecera, este tipo de estructuras no están preparadas para soportar tanto peso.</p>
					<p>Cuando el acuario pasa de los 150 - 200 litros, hay que empezar <span>a plantearse comprar un mueble
							especialmente diseñado</span> para acuarios.
						Piensa que un acuario de 60 litros puede pesar más de 80 kg. Uno de 200 puede llegar a pesar 250 o 270
						kg, y así sucesivamente.</p>
					<p>Para <span>peceras más grandes</span>, necesitaremos mesas/muebles metálicos o de madera bien reforzados
						con <span>escuadras.</span></p>
					<p>Muchas peceras se venden ya con <span>mesa para acuario incorporada.</span> Eso nos asegura que estamos
						utilizando un mueble lo suficientemente fuerte y adaptado para nuestro acuario, sin correr ningún
						riesgo.</p>
					<p>Si puedes permitirtelo, es muy recomendable que <span>inviertas al principio</span> en un mueble seguro
						para la pecera. Una vez instalada, cambiarla de sitio es tarea complicada.</p>
				</div>
				<button>Dr.Pez necesito ayúda</button>
			</div>
			<!-- PECERA -->
    </div>

  </div>


</body>
</html>