<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>DrPez</title>
	<link rel="stylesheet" href="/styles/armaTuPecera.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="main.js"></script>
</head>

<body>
	<div class="wrap">
		<ul class="tabs">
			<li><a href="#inicio"><span class="tab-text">Inicio</span></a></li>
			<li><a href="#pecera"><span class="tab-text">Pecera</span></a></li>
			<li><a href="#soporte"><span class="tab-text">Soporte</span></a></li>
			<li><a href="#filtro"><span class="tab-text">Filtro</span></a></li>
			<li><a href="#grava"><span class="tab-text">Gravas y Adornos</span></a></li>
			<li><a href="#peces"><span class="tab-text">Peces</span></a></li>
			<li><a href="#mantenimiento"><span class="tab-text">Mantenimiento</span></a></li>
		</ul>
		<div class="secciones">
			<!-- INICIO -->
			<article id="inicio" class="inicio">
				<h1>!Hacer un acuario es facil!, Si sabes como</h1>
				<h3>Te ayudamos a crear verdaderos paisajes subacuáticos en casa</h3>
				<p>Tener un acuario de agua dulce es una maravillosa forma de traer la naturaleza a tu hogar. Instalar un
					acuario es más fácil de lo que parece a simple vista. La gran cantidad de aparatos y accesorios en los
					estantes de las tiendas de mascotas es intimidante, pero realmente lo único que necesitas son los conceptos
					básicos para empezar. Verás a tus peces nadando felices en su nuevo acuario en muy poco tiempo.</p>
			</article>
			<!-- INICIO -->
			<!-- PECERA -->
			<article id="pecera" class="pecera">
				<div class="principal">
						<img src="img/portada peces.png" alt="">
						<h1>Lo primero que hay que elegir es la pecera</h1>
					<p>
						La pecera que elijas debe ser lo suficientemente grande para albergar el agua para el tipo y número de peces
						que tienes pensado tener. Así evitarás una posible sobrepoblación, dándoles así a los peces una vida más
						larga, además evitarás los malos olores y la suciedad en el agua. Entre más grande sea el pez, más
						desperdicios producirá y se necesitará más agua. Ten en cuenta que las plantas y otro tipo de decoraciones
						también ocupan espacio.
					</p>
					<ul>
						<li> Dr.Pez te ayudará a decidir qué peces serán seguros según el tamaño de la pecera, su compatibilidad y
							necesidades.</li>
						<li> Una pecera de 200 litros es un tamaño estándar que te permite tener una gran variedad de peces. Como
							principiante, te recomendamos que el tanque no tenga más de ese tamaño.</li>
						<li> También podrás utilizar una pecera de 75 litros a 94 litros para empezar y mantener unos pocos peces
							resistentes (poécilos, guppys, platys, tetras)</li>
						<li> Independientemente de tu decisión, asegúrate de que la pecera tenga capacidad al menos para 37 litros,
							lo
							que significa que no debes utilizar acuarios de “escritorio” o acuarios individuales para peces beta. No
							son
							lo suficientemente grandes para albergar peces. Aunque suene tentador comprar un tanque pequeño, al final,
							en este tipo de tanques resultará más difícil mantener la buena calidad del agua.</li>
					</ul>
				</div>

				<div class="contenidos">
					<h3>Contenidos</h3>
					<div class="cont">
						<ul>
							<li><a href="#peceras">Peceras y Urnas</a></li>
							<li><a href="#tipos">Tipos de peceras</a>
								<ul>
									<li><a href="#forma"> Según la Forma</a></li>
									<li><a href="#tamaño"> Según el tamaño</a></li>
									<li><a href="#materiales"> Según los materiales</a></li>
								</ul>
							</li>
							<li><a href="#muebles"> Muebles para acuario</a></li>
						</ul>
					</div>
				</div>

				<div id="peceras" class="peceras">
					<h2 class="titulo">Peceras y Urnas</h2>
					<p>La pecera es el elemento básico de la acuariofilia.</p>
					<p>Es el recipiente que contendrá el agua, las rocas, troncos, plantas, sustrato, peces, etc. Y debe ser una
						estructura resistente y preparada para soportar la elevada presión del agua.</p>
					<p><span>No escatimes</span> a la hora de comprar una pecera, porque <span>puede salirte realmente
							caro</span>.
						Las peceras generalmente están formada por 5 paredes de <span>vidrio o metacrilato</span>. También las
						hay de <span>plástico</span>, pero amarillean con el tiempo y se rayan muy fácilmente, por lo que no son
						recomendables.
						Para unir los cristales, suele utilizarse <span>silicona sin aditivos</span> .En principio casi
						cualquier pecera de vidrio comercial podrá servirte, ya que cumplen muy bien con estos requisitos.
						Si te la vas a fabricar tú hay muchas más consideraciones a tener en cuenta, que trataremos en distintos
						post.</p>
					<p><span>¿Cuál es la diferencia entre pecera y acuario?</span></p>
					<p>Técnicamente, la pecera es sólo una urna de cristal en la que metemos agua y peces (típica bola de vidrio
						con un pez de colores), sin ningún tipo de tecnología.</p>
					<p>Los acuarios, por su parte, incluyen todo lo necesario para montar un <span>ecosistema vivo y
							dinámico</span> (filtro, calentador, pantalla de iluminación, sistemas de CO2, etc.), y requieren un
						conocimiento mayor por parte del acuarista.
						Pero en la práctica es muy común utilizar ambos términos como sinónimos. En este blog, digamos "pecera"
						o "acuario", nos estamos refiriendo al ecosistema vivo soportado por la tecnología básica.</p>
				</div>
				<div id="tipos" class="pecerass">
					<h2 class="titulo">Tipos de peceras</h2>
					<h3 id="forma" class="subtitulo">Según la forma</h3>
					<p>La forma más típica de pecera es la rectangular/cuadrada. Por varias razones: (1) es más fácil calcular
						su volumen real, (2) son más fáciles de plantar y decorar con rocas y troncos, (3) tienen el espacio
						optimizado y se aprovecha totalmente.</p>
					<p>Pero también existen peceras con formas diversas:</p>
					<p><span>Triangulares:</span> Para colocar en una esquina. No permite mucha libertad a la hora de configurar
						la decoración natural del acuario. Te tocará crear un diseño en forma de triángulo.</p>
					<p><span>Panorámicas:</span> Rectangulares con el cristal delantero curvado. Deforman un poco la imagen del
						interior de la pecera. Personalmente las prefiero totalmente rectangulares.</p>
					<p><span>Esféricas:</span> Las típicas bolas de cristal. Son muy poco prácticas, no se aprovecha bien el
						espacio y se pierden muchos litros. Necesitarías una esfera gigantesca para tener un acuario decente con
						esta forma, así que olvídate de meter peces que se hagan grandes. Además, la pecera esférica a penas
						tiene superficie de intercambio de oxígeno entre el agua y el aire, por lo que se crean fácilmente
						condiciones de baja oxigenación muy precarias para peces y plantas. Los peces solo pueden nadar en
						círculos pequeños. No compres una pecera esférica si vas a dedicarte a este hobby en serio.</p>
					<p><span>Cilíndricas:</span> Depende de gustos, quizá a ti te atraiga una pecera con esta forma. Se
						aprovecha menos el espacio que en una rectangular, y los peces solo pueden nadar en círculos arriba y
						abajo (a no ser que sea un cilindro MUY grande). Tampoco la usaría para peces... quizá para gambas e
						invertebrados</p>
					<p><span>Semi-cilíndricas:</span> Tienen forma de medio cilindro. Más de lo mismo, se deforma la imagen del
						interior, se aprovecha menos el espacio y los peces no tienen tanto espacio para nadar a lo largo. Pero
						no son tan malas como las esféricas.</p>
					<p>Recomiendo una pecera rectangular o cuadrada. En este artículo puedes ver cómo calcular los litros de una
						pecera según su forma.</p>
					<div class="wave" style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500 150"
							preserveAspectRatio="none" style="height: 100%; width: 100%;">
							<path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
								style="stroke: none; fill:#fff;"></path>
						</svg>
					</div>
				</div>
				<div class="peceras">
					<h3 id="tamaño" class="subtitulo">Según el tamaño</h3>
					<img src="img/temas generales.png" alt="">
					<div class="wave" style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500 150"
							preserveAspectRatio="none" style="height: 100%; width: 100%;">
							<path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
								style="stroke: none; fill:#b3cbe7;"></path>
						</svg>
					</div>
				</div>
				<div class="peceras">
					<h3 id="materiales" class="subtitulo">Según los materiales</h3>
					<p><span>Peceras de vidrio.</span> Recomendable, son resistentes a la presión y no se rayan tan fácilmente
						(aunque se pueden rayar). Los cristales serán de mayor o menor grosor dependiendo de la cantidad de agua
						(la presión) que deben soportar.</p>
					<p><span>Peceras de vidrio óptico.</span> Son un poco más caras que las de vidrio normal, pero su calidad es
						mayor. Te permiten ver los colores del acuario con total claridad y sin modificaciones. Quién prueba
						peceras de vidrio óptico no vuelve a las normales.</p>
					<p><span>Peceras de metacrilato.</span> En principio son más resistentes a golpes que las de vidrio, y es
						más fácil moldearlas para conseguir formas diferentes a la rectangular. Es un material más ligero, las
						paredes del acuario pueden ser más finas que con el vidrio. La gran desventaja es que se raya con mucha
						facilidad, y al cabo del tiempo perderá su transparencia hasta adquirir una tonalidad traslúcida que se
						cargará totalmente la estética del acuario. No es recomendable si esperas montar un buen acuario a largo
						plazo.</p>
					<p><span>Peceras de plástico.</span> Como el metacrilato, se raya y pierde transparencia. No es capaz de
						soportar grandes presiones. Podría valer para un nano acuario o para acuarios de cría o enfermerías. Tu
						acuario principal, mejor que no sea de plástico.</p>
					<p><span>Con armazón metálico.</span> Los acuarios de más de 1 metro de largo necesitan estar reforzados con
						un marco metálico que soporte sus bordes, además de la silicona.</p>
					<p><span>Sin armazón metálico (siliconas).</span> Acuarios de menos de 1 metro de largo pueden estar
						soportados sólo por la silicona entre cristales. Es mucho más estético.</p>
					<div class="wave" style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500 150"
							preserveAspectRatio="none" style="height: 100%; width: 100%;">
							<path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
								style="stroke: none; fill:#fff;"></path>
						</svg>
					</div>
				</div>
				<div id="muebles" class="peceras">
					<h2 class="subtitulo">Muebles para acuario</h2>
					<p>Como bien explicamos en esta guía para montar un acuario plantado, hay que ponerle mucha atención al
						mueble que vamos a utilizar para soportar la pecera.</p>
					<p>En <span>peceras pequeñas</span> no hay mucho problema, y seguramente puedas utilizar cualquier mueble
						que tengas en casa. Eso sí, tiene que ser <span>robusto</span> y tiene que estar <span>nivelado.</span>
					</p>
					<p>Como regla de oro: <span>NUNCA coloques el acuario en una estantería.</span> Por muy pequeña que sea la
						pecera, este tipo de estructuras no están preparadas para soportar tanto peso.</p>
					<p>Cuando el acuario pasa de los 150 - 200 litros, hay que empezar <span>a plantearse comprar un mueble
							especialmente diseñado</span> para acuarios.
						Piensa que un acuario de 60 litros puede pesar más de 80 kg. Uno de 200 puede llegar a pesar 250 o 270
						kg, y así sucesivamente.</p>
					<p>Para <span>peceras más grandes</span>, necesitaremos mesas/muebles metálicos o de madera bien reforzados
						con <span>escuadras.</span></p>
					<p>Muchas peceras se venden ya con <span>mesa para acuario incorporada.</span> Eso nos asegura que estamos
						utilizando un mueble lo suficientemente fuerte y adaptado para nuestro acuario, sin correr ningún
						riesgo.</p>
					<p>Si puedes permitirtelo, es muy recomendable que <span>inviertas al principio</span> en un mueble seguro
						para la pecera. Una vez instalada, cambiarla de sitio es tarea complicada.</p>
				</div>
				<button>Dr.Pez necesito ayúda</button>
			</article>
			<!-- PECERA -->
			<!-- SOPORTE -->
			<article id="soporte">
				<h1>Una vez que hayamos elegido la pecera en cuanto a tamaño y forma, deberiamos pensar el lugar indicado para
					instalarla.</h1>
				<p>
					Los acuarios de 75 litros o más necesitan un soporte. Compra uno diseñado para las dimensiones y
					forma de tu pecera. ¡No subestimes el peso! Asegúrate de que el soporte se adapte al tamaño de la
					pecera o de que haya sido construido a la medida para ser muy resistente. Es importante para la integridad de
					la misma que sea lo suficientemente resistente para aguantar su peso. Además, no es seguro que un extremo de
					ella sobresalga del soporte.</p>
				<ul>
					<li>
						Los muebles como el armario, el televisor, los estantes, las mesas laterales o los escritorios de madera no
						son lo suficientemente fuertes.
					</li>
					<li>Preguntale a Dr.Pez por kits completos de peceras. En la tienda ofrece entornos nuevos y usados para
						acuario a buen precio, kits tanto para principiantes como para alguien que quiera subir al siguiente nivel.
					</li>
				</ul>

				<h1>Lugar para ubicar el acuario</h1>
				<p>Elegir el lugar adecuado es importante para la salud de los peces. Deberás ubicar el tanque en un lugar donde
					la temperatura sea consistente y la cantidad de luz no sea excesiva. Deja unos 13 cm (5 pulgadas) entre la
					pared y el acuario para dejar espacio para ubicar el filtro. Algunas cosas que deberás tener en cuenta al
					elegir la ubicación para la pecera son:</p>

				<ul>
					<li>
						Demasiada luz solar provocará el crecimiento excesivo de algas, lo cual hará que el mantenimiento del
						acuario sea una pesadilla. Es mejor ubicarlo en alguna pared interior, lejos de la luz fuerte.
					</li>
					<li>
						No coloques la pecera debajo de un respiradero, porque el polvo puede caer sobre el acuario. También será
						más difícil mantener una temperatura constante en el agua, cosa que es importante para ciertos peces pero de
						vida o muerte para otros.
					</li>
					<li>
						También será importante considerar la capacidad del suelo para soportar el peso del acuario completamente
						lleno. Asegúrate de que haya una estructura de soporte adecuada debajo del suelo. Si es necesario, mira los
						planos de tu hogar y busca las vigas transversales.
					</li>
					<li>
						Escoge una ubicación cerca de algún enchufe y ten en cuenta a qué distancia hay que bombear el agua para el
						mantenimiento semanal. No deberás forzar los cables para llegar al enchufe. De hecho, te recomendamos
						conseguir un supresor de picos (que sirve para regular la fuerza de la electricidad después de los cortes de
						luz) para conectar el acuario.
					</li>
					<li>
						Lo ideal será instalar el soporte del acuario sobre un piso firme, no sobre una alfombra.
					</li>
				</ul>


				<button>Dr.Pez necesito ayúda</button>

			</article>
			<!-- SOPORTE -->
			<!-- FILTRO -->
			<article id="filtro">
				<h1>Lo que sigue ahora es decidir qué sistema de filtración te gustaria utilizar.</h1>
				<p>
					Los más populares y sencillos son los filtros de fondo y los filtros de poder (recomendados en vez de los
					filtros de fondo para los novatos) que van en la parte posterior del tanque. No te dejes golpear por la
					tecnología. Los filtros de poder marca Penguin o Whisper proporcionan filtración mecánica, biológica y son
					fáciles de utilizar y de limpiar. Podrás utilizar otro tipo de filtro si tienes conocimientos básicos sobre el
					cuidado y mantenimiento que necesita.
				</p>
				<ul>
					<li>
						Si escoges un filtro de fondo, asegúrate de que la bomba de aire o la fuente de poder tenga la fuerza
						suficiente para el tamaño de tu acurio. En ese caso, mientras más grande mejor. Ten en cuenta que si no
						limpias la grava con la aspiradora periódicamente, al final el filtro se obstruirá y será una trampa mortal.
						Ten en cuenta que no puedes utilizar un filtro de fondo si planeas utilizar arena u otro tipo de sustrato
						fino.
					</li>
					<li>
						Si decides utilizar un filtro de poder, escoge uno que proporcione la suficiente circulación del agua para
						el tamaño de tu tanque (lo ideal es que circule 18 litros de agua por hora (lph), por 3,8 litros de la
						capacidad del tanque. Por ejemplo: un tanque de 37 litros necesita un filtro que circule al menos 190 lph o
						50 gph).
					</li>
				</ul>

				<button>Dr.Pez necesito ayúda</button>
			</article>
			<!-- FILTRO -->
			<!-- GRAVA -->
			<article id="grava">
				<h1>Una vez que tengamos nuestro acuario instalado en un buen lugar es momento de llenar la base de grava.</h1>
				<p>
					Colocar entre 5 cm a 8 cm de grava o arena en la base del acuario es esencial para mantener el acuario
					saludable y ayudar a los peces a orientarse en el agua. Podrás comprar grava económica (disponible en una gran
					variedad de colores) y arena de juego (es mejor de color negro, marrón o blanco natural), no dudes en
					comunicarte con Dr.Pez. La arena es lo mejor para los peces e invertebrados que les gusta enterrarse, pero se
					debe limpiar a diario para evitar los puntos muertos que puedan causar estragos en el tanque.
				</p>
				<ul>
					<li>
						Enjuaga el sustrato con agua limpia antes de colocarlo en el acuario.[3] Mientras menos polvo haya en el
						agua, más rápido se aclarará cuando actives el filtro. Este paso es de vital importancia si vas a utilizar
						arena en lugar de grava, pero es importante en todo tipo de entorno.
					</li>
					<li>
						Lava bien la grava. Asegúrate de hacerlo sin jabón, sino con agua tibia del grifo.
					</li>
					<li>
						Inclina el substrato ligeramente hacia arriba en la parte posterior del acuario.
					</li>
					<li>
						Si tienes un filtro de fondo, esparce la grava (enjuagada) en una capa uniforme por toda la superficie del
						filtro (vierte de a poco para que la grava se asiente de la forma que quieras pero también porque puede
						rayar las paredes del tanque si la viertes muy rápidamente).
					</li>
					<li>
						Coloca una lámina encima del sustrato para que no se disperse cuando pongas el agua.
					</li>
				</ul>

				<h1>Llegó el momento más esperado, ¡Decorar nuestro acuario!</h1>
				<p>
					Las plantas artificiales recrean en gran manera las plantas naturales existentes en el mundo acuático. A demás
					de adornar tu acuario, les aportaran a tus peces un excelente ambiente en el cual puedan refugiarse,
					divertirse y sentirse como en su propio hábitat. Con las plantas artificiales, hallarás una excelente
					decoración en el acuario, lo que ayuda a los peces a sentirse entretenidos y evitar el estrés que les causa la
					cautividad. Pero, ¿realmente son más beneficiosas que poseer plantas naturales? ¡Claro que sí! A continuación
					sabrás por qué.
				</p>
				<h2>
					Beneficios de usar plantas artificiales para acuario
				</h2>
				<p>
					Uno de los principales beneficios de poseer en tu acuario plantas artificiales en vez de naturales, es que no
					requieren de atención continua en su mantenimiento. Esto se debe a que fueron creadas con materiales como la
					seda, plástico o tela que no aportan elementos externos. Así que te ahorrarás mucho tiempo y dinero, ya que
					son muchísimo más baratas y exigen poca demanda de atención y cuidado en comparación con las plantas
					naturales. Claro, no está de más que de vez en cuando limpies en su superficie cualquier desperdicio que pueda
					caerles de los peces. No obstante, si deseas la tranquilidad que transmite el movimiento de los peces entre
					las plantas, no esperes más para comprar por Amazon las mejores existentes en el mercado.
				</p>
				<h3>Consultale a Dr.Pez por las mejores plantas artificiales para acuario, ¡tus peces te lo agradecerán!</h3>
			</article>
			<!-- GRAVA -->
			<!-- PECES -->
			<article id="peces">
				<h1>Por último y lo más importate</h1>
				<p>
					Conversa con Dr.Pez qué tipo de agua dulce y peces deseas tener. ÉL te podrá aconsejar sobre las combinaciones
					idóneas de peces y tipos de agua, etc. Además te proporcionará información más precisa y peces de calidad. No
					te olvides de preguntar por las tablas de compatibilidad para peces de agua dulce tropical o peces de agua
					dulce fria.
				</p>
				<ul>
					<li>
						Aunque veas dos peces que te gustan mucho, tal vez no sean compatibles. Si los llevas a casa, perderán su
						color (lo pierden cuando se estresan) y al final morirán. No es bueno para ellos ni para tu bolsillo.
					</li>
					<li>
						Si es tu primer acuario, no compres peces recomendados solo para dueños de acuario intermedios o
						experimentados. Hay una razón por la que no son para principiantes.
					</li>
					<li>
						Tené en cuenta el tamaño que pueden alcanzar los peces en su adultez y no compres peces que no puedas cuidar
						a largo plazo.
					</li>
					<li>
						Los peces guppy o molly son buenos para empezar, pero todo dependerá del tamaño del tanque.
					</li>
				</ul>

				<h1>
					No compres todos los peces de una sola vez.
				</h1>
				<p>
					Conoce todos los peces que tengas pensado tener en tu acuario y compra dos de los más pequeños (esto va para
					cualquier tipo de pez excepto para los bancos de peces, que se deben comprar en grupos de 4, aunque lo ideal
					son 6 o más peces). Podrás introducir un nuevo grupo de peces cada 2 semanas. Coloca los peces más grandes al
					final.
				</p>

				<h1>Tené mucho cuidado al introducir los peces en el acuario</h1>
				<p>
					Empieza con dos o tres peces los primeros diez días, luego sigue con otros dos o tres peces, espera otros diez
					días y así sucesivamente. Si colocas muchos peces en el acuario de una sola vez, el agua no podrá adaptar su
					ciclo y se volverá tóxica rápidamente. La paciencia es la clave en las primeras 6 a 8 semanas. Dicho esto, un
					error que cometen muchas personas es comprar 1 o 2 peces para formar un banco de peces. Es estresante y cruel
					para el pez. Un banco de peces significa un grupo con al menos 5 peces. Siempre tendras a mano a Dr.Pez para
					ayudarte.
				</p>
			</article>
			<!-- PECES -->
		</div>
	</div>
</body>

</html>


<!-- <div class="wrap2">
	<ul class="tabs2">
		<li><a href="#paso1"><span class="tab-text">Elección de la pecera</span></a></li>
		<li><a href="#otrod"><span class="tab-text">Paso 2</span></a></li>
	</ul>
	<div class="secciones2">
		<article id="paso1" class="eleccion">
			<h1>!Hacer un acuario es facil!, Si sabes como</h1>
			<h3>Te ayudamos a crear verdaderos paisajes subacuáticos en casa</h3>
		</article>
		<article id="otrod">
			<h1>Nosotros</h1>
		</article>
	</div>
</div> -->