<!DOCTYPE html>
<html>
<%- include("partials/head.ejs")  %>

<body>
  <div class="general-container">

    <%- include("partials/header.ejs")  %>


    <div class="contenedor nosotros-container row">
      <p class="col-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus omnis libero unde aliquid ab laboriosam, facilis assumenda esse iste. Blanditiis deserunt, maxime optio assumenda officiis fuga nisi veritatis eius?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus omnis libero unde aliquid ab laboriosam, facilis assumenda esse iste. Blanditiis deserunt, maxime optio assumenda officiis fuga nisi veritatis eius?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus omnis libero unde aliquid ab laboriosam, facilis assumenda esse iste. Blanditiis deserunt, maxime optio assumenda officiis fuga nisi veritatis eius?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus omnis libero unde aliquid ab laboriosam, facilis assumenda esse iste. Blanditiis deserunt, maxime optio assumenda officiis fuga nisi veritatis eius?
      </p>
      <p class="col-10">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil soluta magni culpa explicabo! Nulla temporibus perspiciatis iusto velit neque? Consequuntur sunt corrupti sint tempora esse mollitia, veniam illo rem cupiditate.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil soluta magni culpa explicabo! Nulla temporibus perspiciatis iusto velit neque? Consequuntur sunt corrupti sint tempora esse mollitia, veniam illo rem cupiditate.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil soluta magni culpa explicabo! Nulla temporibus perspiciatis iusto velit neque? Consequuntur sunt corrupti sint tempora esse mollitia, veniam illo rem cupiditate.
      </p>
      <p class="col-10">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, et? Dignissimos commodi tempora nostrum nulla corporis excepturi atque, iste minima laborum enim porro molestias ipsam sequi reiciendis quis modi? Reiciendis.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, et? Dignissimos commodi tempora nostrum nulla corporis excepturi atque, iste minima laborum enim porro molestias ipsam sequi reiciendis quis modi? Reiciendis.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, et? Dignissimos commodi tempora nostrum nulla corporis excepturi atque, iste minima laborum enim porro molestias ipsam sequi reiciendis quis modi? Reiciendis.
      </p>

      <div>
        <div class="javier">
          <img src="/images/javier.jpg" alt="">
          <div class="info-javier">
            <h3>Javier Benitez</h3>
            <p>Dueño y Administrador</p>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->

    <%- include("partials/footer.ejs")  %>

  </div>
</body>

</html>