<!DOCTYPE html>
<html>
<%- include("partials/head.ejs")  %>

<body>
  <div class="general-container">

    <%- include("partials/header.ejs")  %>


    <div class="contenedor container novedades-container">
      
    </div>

    <!-- FOOTER -->

    <%- include("partials/footer.ejs")  %>

  </div>
</body>

</html>