<!DOCTYPE html>
<html>
<%- include("partials/head.ejs")  %>

<body>
  <div class="general-container">

    <%- include("partials/header.ejs")  %>


    <div class="contenedor container novedades-container">
      <div class="articulos">
        <div class="articulo">
          <a href="#">
            <img src="/images/articulo-1.png" alt="">
          </a>
        </div>
        <div class="articulo">
          <a href="#">
            <img src="/images/articulo-2.png" alt="">
          </a>
        </div>
        <div class="articulo">
          <a href="#">
            <img src="/images/articulo-3.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <!-- FOOTER -->

    <%- include("partials/footer.ejs")  %>

  </div>
</body>

</html>